<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2052341384379796"
     crossorigin="anonymous"></script>
<!-- 底部广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2052341384379796"
     data-ad-slot="2495628449"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-copyright">
            <p>© 2024 ルル・アヒル 学校を探す - 全ての権利を保有</p>
        </div>
        <div class="footer-company">
            技術提供：千朵云合同会社 | お問い合わせ：support@sendocloud.co.jp
        </div>
    </div>
</footer> 
