<footer class="footer">
    <div class="footer-content">
        <div class="footer-copyright">
            <p>© 2024 ルル・アヒル 学校を探す - 全ての権利を保有</p>
        </div>
        <div class="footer-company">
            技術提供：千朵云合同会社 | お問い合わせ：support@sendocloud.co.jp
        </div>
    </div>
</footer> 
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7NJ2SXZTGX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7NJ2SXZTGX');
</script>