<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2052341384379796"
     crossorigin="anonymous"></script>
<!-- 底部广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2052341384379796"
     data-ad-slot="2495628449"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-main">
            <div class="footer-copyright">
                <p>©2024 LULUDuck ルル・アヒル 学校を探す</p>
            </div>
            <div class="footer-company">
            </div>
        </div>
        <div class="footer-disclaimer">
            <p>このウェブサイトのすべてのデータはオープンデータに基づいています。著作権侵害がある場合は、ウェブサイト管理者にご連絡ください。</p>
            <p>All data on this website is sourced from open data. If there is any infringement, please contact the website administrator.</p>
        </div>
    </div>
</footer> 
